@model Golestan_Simulation.Models.Students

<h1>Delete Student</h1>
<p>Are you sure you want to delete @Model.Id?</p>

<form asp-area="Admin"
      asp-controller="StudentsManagement"
      asp-action="Delete"
      asp-route-id="@Model.Id"
      method="post">
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
