@model Golestan_Simulation.ViewModels.StudentAccountViewModel

@{
    ViewData["Title"] = "ثبت نام دانشجو";
}

<div class="row">
    <div class="col-md-4">
        <form asp-controller="StudentsManagement" asp-action="RegisterStudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">نام</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">نام خانوادگی</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">نام کاربری*</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RawPassword" class="control-label">رمز عبور*</label>
                <input asp-for="RawPassword" class="form-control" type="password" />
                <span asp-validation-for="RawPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">ایمیل</label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnrollmentDate" class="control-label">تاریخ ثبت نام</label>
                <input asp-for="EnrollmentDate" class="form-control" type="date" />
                <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت نام" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="Admin"
       asp-controller="StudentsManagement"
       asp-action="Index"
       class="btn btn-primary mt-3">
       بازگشت
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}