@using Golestan_Simulation.ViewModels
@model SectionViewModel


<div class="container my-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4>Add Section</h4>
        </div>
        <div class="card-body">
            <form asp-controller="SectionManagement" asp-action="AddSection" method="post">

                <div class="row mb-3">
                    <div class="col">
                        <label asp-for="Semester" class="form-label"></label>
                        <input asp-for="Semester" class="form-control" />
                    </div>
                    <div class="col">
                        <label asp-for="Year" class="form-label"></label>
                        <input asp-for="Year" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <label asp-for="StartTime" class="form-label"></label>
                        <input asp-for="StartTime" class="form-control" type="time" />
                    </div>
                    <div class="col">
                        <label asp-for="EndTime" class="form-label"></label>
                        <input asp-for="EndTime" class="form-control" type="time" />
                    </div>
                    <div class="col">
                        <label asp-for="Day" class="form-label"></label>
                        <select asp-for="Day" class="form-control">
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuseday">Tuseday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="SelectedCourseId" class="form-label">Course</label>
                    <select asp-for="SelectedCourseId" asp-items="Model.Courses"
                            class="form-select">
                        <option value="">-- pick a course --</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label asp-for="SelectedClassroomId" class="form-label">Classroom</label>
                    <select asp-for="SelectedClassroomId" asp-items="Model.Classrooms"
                            class="form-select">
                        <option value="">-- pick a room --</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success">
                    <i class="bi bi-plus-circle"></i> Create Section
                </button>
            </form>
        </div>
    </div>
</div>