@model Golestan_Simulation.Models.Courses

<h1>Delete Courses</h1>
<p>Are you sure you want to delete @Model.Name – @Model.Code?</p>

<form asp-area="Admin"
      asp-controller="CoursesManagement"
      asp-action="Delete"
      asp-route-id="@Model.Id"
      method="post">
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
