@using Golestan_Simulation.ViewModels
@model CourseViewModel

<div class="container my-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4>افزودن درس</h4>
        </div>
        <div class="card-body">
            <form asp-controller="SectionsManagement" asp-action="CreateCourse" method="post">

                <div class="mb-3">
                    <label asp-for="Name" class="form-label">نام درس</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Code" class="form-label">کد درس</label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Unit" class="form-label">تعداد واحد</label>
                    <input asp-for="Unit" class="form-control" />
                    <span asp-validation-for="Unit" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label">توضیحات</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ExamDate" class="form-label">تاریخ امتحان</label>
                    <input asp-for="ExamDate" class="form-control" type="date" />
                    <span asp-validation-for="ExamDate" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-success">
                    <i class="bi bi-plus-circle"></i> افزودن درس
                </button>
            </form>
        </div>
    </div>
</div>