@model Takes;

@{
    ViewData["Title"] = "Unassign Student";
}

<h2>
    Are you sure to unassign this account from the section?
</h2>
<div>
    <form asp-action="UnassignInstructor">
        <input asp-for="StudentId" type="hidden" value=@Model.StudentId />
        <input asp-for="SectionId" type="hidden" value=@Model.SectionId />
        <input type="submit" value="Unassign" class="btn btn-danger" />
    </form>
</div>