@model Takes;

@{
    ViewData["Title"] = "حذف دانشجو";
}

<h2>
    آیا از حذف این دانشجو از واحد درسی مطمئن هستید؟
</h2>
<div>
    <form asp-controller="SectionsManagement" asp-action="UnassignStudent">
        <input asp-for="StudentId" type="hidden" value=@Model.StudentId />
        <input asp-for="SectionId" type="hidden" value=@Model.SectionId />
        <input type="submit" value="حذف" class="btn btn-danger" />
    </form>
</div>