@model Golestan_Simulation.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "ورود";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <input type="hidden" name="Role" value="@ViewBag.Role" /> *@
            <div class="form-group">
                <label asp-for="UsernameOrEmail" class="control-label">نام‌کاربری یا ایمیل</label>
                <input asp-for="UsernameOrEmail" class="form-control" />
                <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RawPassword" class="control-label">کلمه عبور</label>
                <input asp-for="RawPassword" class="form-control" id="passwordInput" type="password" />
                <span asp-validation-for="RawPassword" class="text-danger"></span>
            </div>
            <div>
                <input type="checkbox" onclick="togglePassword()" />نشان دادن کلمه عبور
            </div>
            @if (ViewBag.Role == RolesEnum.None)
            {
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-outline-primary" name="role" value=@RolesEnum.Student>ورود به عنوان دانشجو</button>
                    <button type="submit" class="btn btn-outline-primary" name="role" value=@RolesEnum.Instructor>ورود به عنوان استاد</button>
                </div>
            }
            else
            {
                <div class="focus-group mt-3">
                    <button type="submit" class="btn btn-outline-primary" name="role" value=@ViewBag.Role>ورود</button>
                </div>
            }
            @* <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div> *@
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">بازگشت</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function togglePassword() {
            var passwordField = document.getElementById("passwordInput");
            passwordField.type = passwordField.type === "password" ? "text" : "password";
        }
        // function setRoleAndSubmit(Role) {
        //     document.getElementById("RoleInput").value = Role;
        // }
    </script>
}