@{
    ViewData["Title"] = "Access Denied";
}

<div class="alert alert-danger text-center mt-5">
    <h3>Your access to this page is forbidden</h3>
    <a href="/" class="btn btn-primary mt-3">Back</a>
</div>
